.subscribe{
background-size: cover;
background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.85)) ,url(../../../images/hand-clicking-subscribe-button-social-media.jpg);

background-repeat:no-repeat;

}
