.banner-section{
    background-image:linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.86)),url(../../../images/digital2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
   
}
.banner-title{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.btn-color{
    width: 250px;
    padding: 5px;
    line-height: 25px;
    letter-spacing: 15px;
    border: 2px solid #FD0037;
    border-radius: 25px;
    color: white;
    background: linear-gradient(to left,transparent 50%, #FD0037 50%);
    background-size: 200%;
    background-position: right;
    color: #fff;
    transition: background-position 0.50s;
    overflow: hidden;
}
.btn-color:hover{
    background-position: left;
    
}